{
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "bracketSameLine": true
            }
        },
        {
            "files": ["*.html", "content/components/**/*.md"],
            "options": {
                "parser": "html",
                "tabWidth": 4,
                "printWidth": 120,
                "bracketSameLine": true
            }
        }
    ],
    "tailwindFunctions": ["class"],
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSameLine": true
}
