@import 'tailwindcss';
@import 'highlight.js/styles/atom-one-dark.css';

/* Override highlight.js background for transparency */
.hljs {
    background: transparent !important;
}

@custom-variant dark (&:where(.dark, .dark *));

@source '../views';
@source '../views/**';
@source '../views/**/**';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../content/**/*.md';

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

/* Smooth scrolling for hash navigation */
html {
    scroll-behavior: smooth;
}

/* Custom Focus Ring for Accessibility (Excluded from Previews) */
body:not(.preview-iframe) :focus-visible {
    outline: 1px solid var(--color-neutral-900);
    outline-offset: 2px;
}

.dark body:not(.preview-iframe) :focus-visible {
    outline-color: var(--color-white);
}
