name: linter

on:
    push:
        branches:
            - develop
            - main
    pull_request:
        branches:
            - develop
            - main

permissions:
    contents: write

jobs:
    quality:
        runs-on: ubuntu-latest
        environment: Testing
        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'

            - name: Install Dependencies
              run: |
                  composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
                  npm install

            - name: Run Pint
              run: vendor/bin/pint

            - name: Run PHPStan
              run: vendor/bin/phpstan analyse --memory-limit=512M --error-format=github

            - name: Run Rector (Dry Run)
              run: vendor/bin/rector process --dry-run
